/* using flexbox to handle layout */
:root {
    --prim: #f0a6bc;
    --sec: #e2b8b3;
    --tert: hsl(0, 0%, 100%);
    --font1: "Nerko One", system-ui;
    --font2: "Kalam", system-ui;
}

* {box-sizing: border-box;}

/* tag names */

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

/* classes */

.box {
    display: flex;
    justify-content: space-between;
}

.colophon {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 94%;
    /* border: 1px solid blue; */
}

.form {
    /* padding-top: 15px; */
    text-align: right;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style-type: none;
}

.row {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}

.search-label {
    display: none;
}

.section {
    padding: 20px 0;
}

.text {
    padding: 0 15px;
}

/* ids */

#block1, #block2 {
    padding: 0 15px;
    width: 45%;
    /* border: 1px solid brown */
}

#blockText2, #figure1 {
    width: 45%;
    /* border: 1px solid green */
}

#blockText3, #blockText4 {
    padding: 0 15px;
}

#block5, #block6, #block7 {
    width: 30%;
    /* border: 1px solid purple; */
}

#figure2 {
    text-align: center;
}

#header {
    width: 100%;
    padding: 8px 0;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myName, #topNav, .form {
    margin: 0;
    width: 30%;
    /* border: 1px solid yellow */
}

#myName {
    color: var(--prim);
    font-size: 40px;
    font-family: var(--font1);
}

#row1 {
    flex-direction: row-reverse;
}

#section3 .container {
    display: flex;
    justify-content: space-between;
}