/* 
Building template design using margin, padding, float
*/

:root {
    --prim: #f0a6bc;
    --sec: #e2b8b3;
    --tert: hsl(0, 33%, 1%);
    --font1: "Nerko One", system-ui;
    --font2: "Kalam", system-ui;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert)
}

.bold{
    font-weight: 700;
}

.container {
    margin: 0 auto;
    width: 94%;
    /* border: 1px solid plum; */
}

.figcaption{
    color:var(--sec);
    font-family: var(--font1);
    font-style: italic;
}

.form {
    margin-top: 10px;
    width: 30%;
    float: left;
    text-align: right;
}

.heading {
    margin: 0;
    color: var(--sec);
    font-family: var(--font2);
    text-shadow: 2px 2px 2px lightgrey;
}

/* 
build a navbar

ul {
    padding-left: 0;
    list-style-type: none;
}
to remove bullets from list

li {
    display: inline;
}
for list inline display
*/

.nav {
    margin-top: 10px;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
}

#block1, #block2 {
    width: 50%;
    padding: 10px;
    float: right;
}


#block4.text {
    padding-left: 0 15px;
}


#block5, #block6, #block7 {
    padding: 10px 15px;
    width: calc(100% / 3);
    float: left;
    /* border: 1px solid powderblue; */
}

#blockText1, #blockText2 {
    font-size: 24px;
}

#blockText2, #figure1{
    width: 50%;
    float: left;
    /* border: 1px solid orangered; */
}

#blockText3, #blockText4 {
    padding: 10px 15px;
    width: 50%;
    float: left;
}

#figure1 {
    margin: 0;
    padding-left: 20px;
}

#figure2 {
    text-align: center;
    /* border: 1px solid purple; */
}

#figure2 img {
    border-radius: 10px;
}

.nav-item {
    display: inline;
    padding: 0 15px;
    font-family: var(--font1);
}

.nav-link {
    color: var(--prim);
    text-decoration: none;
    text-transform: lowercase; 
}

.nav-link:hover {
color: var(--sec)
}

.search-label {
    display: none;
}

.text {
    font-family: var(--font1);
    color: var(--sec)
}

#footer{
    padding-bottom: 60px;
}

.colophon{
    text-align: center;
    font-family: var(--font1);
}

#header {
    padding: 15px 0;
}

#myName {
    margin: 0;
    width: 40%;
    color: var(--prim);
    font-family: var(--font1);
    font-size: 42px;
    float: left;
}

#section1, #section2, #section3 {
    padding: 40px 0;
}

#topNav {
    width: 30%;
    float: left;
    /* border: 1px solid green; */

}

.clear {
    clear:both;
}